.project-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(15px, 3vw, 25px);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-items: center;
  padding: 15px;
  /* justify-content: center; */
}
.no-project-error {
  grid-column: 1;
  text-align: center;
  font-size: clamp(16px, 3vw, 20px);
  color: rgba(255, 255, 255, 0.9);
  padding: clamp(30px, 3vw, 50px) 1rem;
  font-weight: 400;
}
.loading-spinner {
  margin-top: 10px;
  width: 55px;
}

/* mobile  already given  */
@media (min-width: 786px) {
  .project-container {
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(10px, 2vw, 25px);
    padding: clamp(20px, 3vw, 20px);
  }
  .no-project-error {
    grid-row-start: 2;
    grid-column-end: -1;
  }
}

/* laptops   */
@media (min-width: 1200px) {
  .project-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* xl moniters  */
@media (min-width: 1600px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .no-project-error {
    grid-column: 2;
  }
}

/* vs phone  */
@media (max-width: 360px) {
  .project-container {
    padding: 10px;
    gap: 12px;
  }
  .no-project-error {
    font-size: 16px;
    padding: 30px 10px;
  }
}
